@media (min-width: 300px) {
  #teamimage {
    width: 320px;
    height: 320px;
  }
}

@media (min-width: 992px) {
  #teamimage {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 1200px) {
  #teamimage {
    width: 550px;
    height: 550px;
  }
}

@media (min-width: 1400px) {
  #teamimage {
    width: 650px;
    height: 650px;
  }
}

